/* Page Format */
html {
  background-color: #f8f8f8;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
}

/* Navigation Bar Format */
/* Unnumbered List Format */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Unnumbered List Element Format */
nav li {
 float: left;
 border-right: 1px solid #bbb;
 position: sticky;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover Unnumbered List Element Format */
nav li a:hover {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

/* Body Format */
body {
  padding-top: 25px;
}

body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Table Format */
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}

/* Footer Format */
/* Unnumbered List Format */

footer {
  padding-top: 25px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

/* Unnumbered List Element Format */
footer li {
 float: left;
 border-right: 1px solid #bbb;
 position: sticky;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hover Unnumbered List Element Format */
footer li a:hover {
  background-color: #111;
}

footer .active {
  background-color: #4CAF50;
}